@import "../../colors";

.main {
    width: 100%;
    //height: 100%;
    padding: 100px;
    }

.line {
    width: 100%;
    height: 5px;
    background-color: $turquoise;

    position: relative;
    z-index: 2;
    }

.container {
    height: 100%;
    background-color: white;
    }

.taskList {
    padding: 20px 15px;
    }
