@import "../../colors";

.main {
    width: 100%;
    max-height: 100%;
    padding: 100px;
    }

.line {
    width: 100%;
    height: 5px;
    background-color: $turquoise;

    position: relative;
    z-index: 2;
    }

.lineGrey {
    margin: 30px auto;
    height: 1px;
    width: 70%;

    background-color: $grey;
    }

.container {
    height: 100%;
    background-color: white;
    overflow: scroll;
    }

.taskList {
    padding: 20px 15px;
    }
