.task {
    margin-bottom: 1rem;
    font-size: 2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-weight: 700;

    & input {
        margin-right: 1rem;
        }
    }

.completedTask {
    color: rgb(0, 0, 0, 0.5);
    text-decoration: line-through;
    font-weight: 400;
    }

.button {
    margin-right: 1rem;
    }

.stub {
    width: 27px;
    height: 27px;
    }
