.task {
    margin-bottom: 15px;
    font-size: 32px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-weight: 700;
    }

.completedTask {
    color: rgb(0, 0, 0, 0.5);
    text-decoration: line-through;
    font-weight: 400;
    }

.button {
    margin-right: 15px;
    }
