$turquoise: #78E2D1;
$turquoiseD: #5BCBB9;


$orange: #FF9E35;
$orangeD: #E28C2F;


$blue: #7FCAF6;
$blueD: #60B3E3;


$red: #FF3C3D;
$redD: #D2292A;


$grey: #D6D6D6;

%button {
    padding: 1rem 1.25rem;

    display: block;

    font-weight: 700;
    color: white;
    border-radius: 2.5rem;

    transition-duration: 0.2s;
    }


