$turquoise: #78e2d1;
$turquoiseD: #5bcbb9;

$orange: #ff9e35;
$orangeD: #e28c2f;

$blue: #7fcaf6;
$blueD: #60b3e3;

$red: #ff3c3d;
$redD: #d2292a;

$grey: #d6d6d6;

%button {
  padding: 1rem 1.25rem;

  display: block;

  font-weight: 700;
  color: white;
  border-radius: 2.5rem;

  transition-duration: 0.2s;
}
