// Добавляем обнуляющий стиль
@import 'nullstyle';

// Добавляем шаблоны цветов
@import 'colors';

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,700;6..12,900&display=swap');


//Стиль текста для всего сайта
body {
    font-family: 'Nunito Sans', sans-serif;
    color: #000;
    overflow-x: hidden !important;
    position: relative;

    background-color: #EDF0F5;


    }

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;

    }

.container {
    display: flex;
    align-items: stretch;
    height: 100%;
    }

.button {
    @extend %button;

    &:disabled {
        opacity: 0.6 !important;

        &:hover {

            }
        }
    }

.button-turquoise {
    background-color: $turquoise;
    border: 3px solid $turquoise;

    &:hover {
        background-color: $turquoiseD;
        border: 3px solid $turquoiseD;
        }
    }

.button-orange {
    background-color: $orange;
    border: 3px solid $orange;

    &:hover {
        background-color: $orangeD;
        border: 3px solid $orangeD;
        }
    }

.button-blue {
    background-color: $blue;
    border: 3px solid $blue;

    &:hover {
        background-color: $blueD;
        border: 3px solid $blueD;
        }
    }

.button-red {
    background-color: $red;
    border: 3px solid $red;

    &:hover {
        background-color: $redD;
        border: 3px solid $redD;
        }
    }



